<%= javascript :prototype, :lowpro, 'fast_commands/commands_new' %>
<table id="ub-table">
  <tr class="header">
    <td style="width:15px;"></td>
    <td>Name</td>
    <td>Firmware</td>
    <td>IMEI</td>
  </tr>
  <% @devices.each do |device|  %>
    <tr class="<%= cycle("gray_row", "") %>">
      <td><%= check_box_for(@devices, device) %></td>
      <td><%= link_to device.name, nm_5500_device_commands_path(device)%></td>
      <td><%= device.firmware %></td>
      <td><%= device.imei %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @devices.devices, :params => {:action => :new} %>
