<%= render :partial=>"/layouts/flash_message"%>
<%= error_messages_for :devices, :available_commands, :header_message => 'There were errors sending the commands',
  :message => nil %>
<h2 style="margin-bottom: 5px;">Select the devices you'd like to configure and enter the parameters below</h2>

<% form_for @devices, :url => {:action => :create}, :html => {:method => :post} do |f| %>
  <div id="paginated-devices">
    <%= render :partial => 'device_table' %>
  </div>
  <div id="configuration_header">
    Current Configuration Parameters
  </div>

  <div id="configuration_form">
    <% @available_commands.each do |available_command| %>
      <div class="row">
        <%= render :partial => partial_for(available_command),
          :locals => {:available_command => available_command}%>
      </div>
    <% end %>
  </div>

  <div id="configuration_submit">
    <%= submit_tag 'Submit Configuration'%>
  </div>
<% end %>