<%= render :partial=>"/layouts/flash_message"%>
<h2 style="margin-bottom: 5px;">Select the devices you'd like to configure and enter the parameters below</h2>

<% form_tag nm_5500_commands_path do %>
  <table id="ub-table">
    <tr class="header">
      <td style="width:15px;"></td>
      <td>Name</td>
      <td>Firmware</td>
      <td>IMEI</td>
    </tr>
    <% @devices.each do |device|  %>
      <tr class="<%= cycle("gray_row", "") %>">
        <td><%= check_box_tag 'device_ids[]', device.id %></td>
        <td><%= link_to device.name, nm_5500_device_commands_path(device)%></td>
        <td><%= device.firmware %></td>
        <td><%= device.imei %>
      </td>
    <% end %>
  </table>

  <div id="configuration_header">
    Current Configuration Parameters
  </div>

  <div id="configuration_form">
    <% @available_commands.each do |available_command| %>
      <div class="row">
        <%= render :partial => partial_for(available_command), :locals => {:available_command => available_command}%>
      </div>
    <% end %>
  </div>

  <div id="configuration_submit">
    <%= submit_tag 'Submit Configuration'%>
  </div>
<% end %>